.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #FFF;
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }




  body {
    font-family: 'Lato', sans-serif;
  }

  form {
    max-width: 500px;
    margin: 10px auto;
    padding: 50px 20px;
    background: #8e8e90;
    border-radius: 10px;
  }

  h1 {
    margin: 0 0 40px 0;
    text-align: center;
    color: #d1bfa7;
  }

  textarea,
  select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 20px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 17px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
  }

  input[type="radio"] {
    margin: 0 4px 8px 0;
  }

  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }

  fieldset {
    margin-bottom: 30px;
    border: none;
  }

  legend {
    margin-bottom: 10px;
  }

  h2 {
    display: block;
    margin-bottom: 8px;
    font-size: 3em;
    color: #49494b;
  }

  label{
    display: block;
    margin-bottom: 8px;
    color: #eeeeee;
  }


  @media screen and (min-width: 480px) {
    form {
      max-width: 700px;
    }
  }

  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #bd8c7d;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #d1bfa7;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    padding: 19px 39px 18px 39px;
    border-radius: 5px;
}


.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Information';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}
