<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>

    <h1>NYUAD Laundry Planner</h1>
    <p>Welcome to your NYUAD Laundry Planner. We hope this app will help you organize better your laundry timings, avoid unplesant events and check the availability of the equipment.</p>

<<<<<<< HEAD
    <a type="button" class="btn btn-lg btn-default" href="index.ejs" ><span class="glyphicon glyphicon-flash"></span> Home </a>
=======
    <a type="button" class="btn btn-lg btn-default" href="index.ejs"><span class="glyphicon glyphicon-flash"></span> Home </a>
>>>>>>> 24363724ecae6d8a17acff88ffb967736e04d91a
    <a type="button" class="btn btn-lg btn-default" href="registration.ejs"><span class="glyphicon glyphicon-flash"></span> Registration </a>
    <a type="button" class="btn btn-lg btn-default" href="av.ejs"><span class="glyphicon glyphicon-flash"></span> Check availability </a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> TEST</h3>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please respect your community and don't break the rules!
  </div>
</div>


</body>
</html>
