<!DOCTYPE html>
<html>
<head>

  <% include ../partials/header.ejs %>


</head>

<body>

  <% include ../partials/nav.ejs %>

<section>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>

    <h1>NYUAD Laundry Planner</h1>
    <p>Welcome to your NYUAD Laundry Planner. We hope this app will help you organize better your laundry timings, avoid unplesant events and check the availability of the equipment.</p>

    <a type="button" class="btn btn-lg btn-default" href="index.ejs" ><span class="glyphicon glyphicon-flash"></span> Home </a>
    <a type="button" class="btn btn-lg btn-default" href="registration.ejs"><span class="glyphicon glyphicon-flash"></span> Registration </a>
    <a type="button" class="btn btn-lg btn-default" href="av.ejs"><span class="glyphicon glyphicon-flash"></span> Check availability </a>
  </div>
</div>
</section>

</section>

<h3 style="font-size:300%;color:#532F8C"><span class="glyphicon glyphicon-info-sign"></span> <b>Availability of the Washing Machines</b> </h3>

<section>
  <table class="table" id="laundryMachines">

  <tbody>
    <tr>
      <th scope="row"></th>
      <td><img src="1.png" width="400" height="300" ></td>
      <td> <h1 class="laundry-machines" style="text-align:center; font-size:300%; color:green"> Available </h1> </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><img src="2.png" width="400" height="300"></td>
      <td><h1 class="laundry-machines" style="text-align:center; font-size:300%; color:green"> Available </h1></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><img src="3.png" width="400" height="300"></td>
      <td><h1 class="laundry-machines" style="text-align:center; font-size:300%; color:green"> Available </h1></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><img src="4.png" width="400" height="300"></td>
      <td><h1 class="laundry-machines" style="text-align:center; font-size:300%; color:green"> Available </h1></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><img src="5.png" width="400" height="300"></td>
      <td><h1 class="laundry-machines" style="text-align:center; font-size:300%; color:green"> Available </h1></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><img src="6.png" width="400" height="300"></td>
      <td><h1 class="laundry-machines" style="text-align:center; font-size:300%; color:green"> Available </h1></td>
      <td></td>
    </tr>
  </tbody>
</table>
</section>
<br>
<br>
<br>
<br>
<h3 style="font-size:300%;color:#532F8C"><span class="glyphicon glyphicon-info-sign"></span> <b>Availability of the Dryers</b> </h3>

<section>
  <table class="table" id="driers">

  <tbody>
    <tr>
      <th scope="row"></th>
      <td><img src="1D.png" width="400" height="300" ></td>
      <td> <h1 style="text-align:center; font-size:300%; color:green"> Available </h1> </td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><img src="2D.png" width="400" height="300"></td>
      <td><h1 style="text-align:center; font-size:300%; color:green"> Available </h1></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><img src="3D.png" width="400" height="300"></td>
      <td><h1 style="text-align:center; font-size:300%; color:green"> Available </h1></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><img src="4D.png" width="400" height="300"></td>
      <td><h1 style="text-align:center; font-size:300%; color:green"> Available </h1></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><img src="5D.png" width="400" height="300"></td>
      <td><h1 style="text-align:center; font-size:300%; color:green"> Available </h1></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><img src="6D.png" width="400" height="300"></td>
      <td><h1 style="text-align:center; font-size:300%; color:green"> Available </h1></td>
      <td></td>
    </tr>
  </tbody>
</table>
</section>


   <div class="alert alert-info text-center" role="alert">
    Please respect your community and don't break the rules!
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="script2.js"></script>
</body>
</html>
