<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a>

      <h1>NYUAD Laundry Planner</h1>
      <p>Welcome to your NYUAD Laundry Planner. We hope this app will help you organize better your laundry timings, avoid unplesant events and check the availability of the equipment.</p>

      <a type="button" class="btn btn-lg btn-default" href="index.ejs" ><span class="glyphicon glyphicon-flash"></span> Home </a>
      <a type="button" class="btn btn-lg btn-default" href="registration.ejs"><span class="glyphicon glyphicon-flash"></span> Registration </a>
      <a type="button" class="btn btn-lg btn-default" href="av.ejs"><span class="glyphicon glyphicon-flash"></span> Check availability </a>
    </div>
  </div>

  <h1>Washing Machine Options</h1>
	<form id="formParameters" action="">
		<!-- Net ID -->
		<div id="netId">
			<h2>Net ID: <input type="text" name="Net ID: " placeholder="netid" required></h2>
		</div>

		<!-- Building -->
		<div id="building">
			<h2>Building: </h2>
			<select name='building' required>
				<option value="1">A1A</option><option value="2">A1B</option><option value="3">A1C</option><option value="4">A2A</option><option value="5">A2B</option><option value="6">A2C</option><option value="7">A5A</option><option value="8">A5B</option><option value="9">A5C</option><option value="10">A6A</option><option value="11">A6B</option><option value="12">A6C</option>
			</select>
		</div>

		<!-- Washtype -->
		<div id="washtype">
			<h2>Washtype: </h2>
			<select name='washtype' required>
				<option value="1">Cotton</option><option value="2">Mix/Synthetics</option><option value="3">Hand Wash</option><option value="4">Wool</option><option value="5">Sport</option><option value="6">Night wash</option><option value="7">Biowash</option><option value="8">Quick wash</option><option value="9">Rinse</option><option value="10">Softening</option><option value="11">Spin</option><option value="12">Perfect black</option><option value="13">Ultra white</option>
			</select>
		</div>

		<!-- Temperature -->
		<div id="temperature">
			<h2>Temperature (Celsius): </h2>
			<select name="temp">
			<option value="90">90</option>
			<option value="60">60</option>
			<option value="40">40</option>
			<option value="30">30</option>
			<option value="15">15</option>
			<option value="cold">Cold</option>
			</select>
		</div>

		<!-- Other Options -->
		<div id="otherOptions">
			<h2>Other Options: </h2>
			<select name="other options">
			<option value="none0">None</option>
			<option value="leaf">Leaf</option>
			<option value="drain">Drain</option>
			<option value="clock">Clock thingo</option>
			</select>
		</div>

		<div id="otherOtherOptions">
			<h2>Other Other Options: </h2>
			<select name="other other options">
			<option value="none1">None</option>
			<option value="updrain">Updrain</option>
			<option value="circle dot">Circle dot</option>
			</select>
		</div>

		<!-- Manual time -->
		<div id="time">
			<h2>Manual time: </h2>
			<select name='washtype' required>
				<option value="1">0:30</option><option value="2">1:00</option><option value="3">1:30</option><option value="4">2:00</option><option value="5">2:30</option><option value="6">3:00</option><option value="7">3:30</option><option value="8">4:00</option>
			</select>
		</div>

		<button type="submit">Submit</button>
	</form>

</body>
</html>
