<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a>

      <h1 style="font-family:Impact, Charcoal, sans-serif">NYUAD Laundry Planner</h1>
      <p style="font-size:200%">Welcome to your NYUAD Laundry Planner. We hope this app will help you organize better your laundry timings, avoid unplesant events and check the availability of the equipment.</p>

      <a type="button" class="btn btn-lg btn-default" href="index.ejs" ><span class="glyphicon glyphicon-flash"></span> Home </a>
      <a type="button" class="btn btn-lg btn-default" href="registration.ejs"><span class="glyphicon glyphicon-flash"></span> Registration </a>
      <a type="button" class="btn btn-lg btn-default" href="av.ejs"><span class="glyphicon glyphicon-flash"></span> Check availability </a>
    </div>
  </div>

	<h1>Washing Machine Options</h1>

	<form id="formParameters" action="" onsubmit="return false">
		<!-- Net ID -->
		<div class = "form-group">
			<h3><label for="input">Net ID</label></h3>
			<input class="form-control" id="netID" placeholder="Enter your Net ID" placeholder=".form-control-lg" required>
		</div>

		<!-- Building -->
		<div class="form-group">
				<h3><label for="exampleFormControlSelect1">Residential Building</label></h3>
				<select class="form-control" id="building" placeholder=".form-control-lg" required>
					<option value="A1A">A1A</option>
					<option value="A1B">A1B</option>
					<option value="A1C">A1C</option>
					<option value="A2A">A2A</option>
					<option value="A2B">A2B</option>
					<option value="A2C">A2C</option>
					<option value="A5A">A5A</option>
					<option value="A5B">A5B</option>
					<option value="A5C">A5C</option>
					<option value="A6A">A6A</option>
					<option value="A6B">A6B</option>
					<option value="A6C">A6C</option>
				</select>
			</div>

		<!-- Washtype -->
		<div class="form-group">
				<h3><label for="washerselect">Washer Setting</label></h3>
				<select multiple class="form-control" id="washtype" placeholder=".form-control-lg" required>
						<option value="Cotton">Cotton</option>
						<option value="Mix/Synthetics">Mix/Synthetics</option>
						<option value="HandWash">Hand Wash</option>
						<option value="Wool">Wool</option>
						<option value="Sport">Sport</option>
						<option value="NightWash">Night wash</option>
						<option value="Biowash">Biowash</option>
						<option value="QuickWash">Quick wash</option>
						<option value="Rinse">Rinse</option>
						<option value="Softening">Softening</option>
						<option value="Spin">Spin</option>
						<option value="PerfectBlack">Perfect black</option>
						<option value="UltraWhite">Ultra white</option>
				</select>
		</div>

		<!-- Other Options
		<div id="otherOptions">
			<h3>Other Options: </h2>
			<select name="other options">
			<option value="none0">None</option>
			<option value="leaf">Leaf</option>
			<option value="drain">Drain</option>
			<option value="clock">Clock thingo</option>
			</select>
		</div>

		<div id="otherOtherOptions">
			<h2>Other Other Options: </h2>
			<select name="other other options">
			<option value="none1">None</option>
			<option value="updrain">Updrain</option>
			<option value="circle dot">Circle dot</option>
			</select>
		</div> -->

		<!-- Manual time -->
		<div>
			<h3><label for = "washerselect">Manual Time Entry <i>(hours:minutes)</i></label></h3>
			<select id="time" name='washtime'>
				<option value="1">00:30</option>
				<option value="2">00:45</option>
				<option value="3">01:00</option>
				<option value="4">01:15</option>
				<option value="5">01:30</option>
				<option value="6">01:45</option>
				<option value="7">02:00</option>
				<option value="8">02:30</option>
			</select>
		</div>

		<div><button type="submit" id="submitButton" class = "btn btn-info">Submit</button></div>


		<div id="alert" class="alert alert-success" role="alert" style="display:none">
				<h4 class="alert-heading">Well done!</h4>
				<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
				<hr>
				<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
		</div>
	</form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
