<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a>

      <h1>NYUAD Laundry Planner</h1>
      <p>Welcome to your NYUAD Laundry Planner. We hope this app will help you organize better your laundry timings, avoid unplesant events and check the availability of the equipment.</p>

      <a type="button" class="btn btn-lg btn-default" href="index.ejs" ><span class="glyphicon glyphicon-flash"></span> Home </a>
      <a type="button" class="btn btn-lg btn-default" href="registration.ejs"><span class="glyphicon glyphicon-flash"></span> Registration </a>
      <a type="button" class="btn btn-lg btn-default" href="av.ejs"><span class="glyphicon glyphicon-flash"></span> Check availability </a>
    </div>
  </div>

	<h1>Washing Machine Options</h1>
	<form>

		<!-- Net ID -->
		<div>
			<label>Net ID: <input type="text" name="Net ID: " placeholder="netid" required></label>
		</div>

		<!-- Building -->
		<div>
			<label>Building: </label>
			<select name='building' required>
				<option value="1">A1A</option><option value="2">A1B</option><option value="3">A1C</option><option value="4">A2A</option><option value="5">A2B</option><option value="6">A2C</option><option value="7">A5A</option><option value="8">A5B</option><option value="9">A5C</option><option value="10">A6A</option><option value="11">A6B</option><option value="12">A6C</option>
			</select>
		</div>

		<!-- Washtype -->
		<div>
			<label>Washtype: </label>
			<select name='washtype' required>
				<option value="1">Cotton</option><option value="2">Mix/Synthetics</option><option value="3">Hand Wash</option><option value="4">Wool</option><option value="5">Sport</option><option value="6">Night wash</option><option value="7">Biowash</option><option value="8">Quick wash</option><option value="9">Rinse</option><option value="10">Softening</option><option value="11">Spin</option><option value="12">Perfect black</option><option value="13">Ultra white</option>
			</select>
		</div>

		<!-- Temperature -->
		<div>
			<label>Temperature (Celsius): </label>
			<label>90<input type="radio" name="temp" value="90"></label>
			<label>60<input type="radio" name="temp" value="60"></label>
			<label>40<input type="radio" name="temp" value="40"></label>
			<label>30<input type="radio" name="temp" value="30"></label>
			<label>15<input type="radio" name="temp" value="15"></label>
			<label>cold<input type="radio" name="temp" value="cold"></label>
		</div>

		<!-- Other Options -->
		<div>
			<label>Other Options: </label>
			<label>None<input type="radio" name="other options" value="none0"></label>
			<label>Leaf<input type="radio" name="other options" value="leaf"></label>
			<label>Drain<input type="radio" name="other options" value="drain"></label>
			<label>Clock Thingo<input type="radio" name="other options" value="clock"></label>
		</div>

		<div>
			<label>Other Other Options: </label>
			<label>None<input type="radio" name="other other options" value="none1"></label>
			<label>Updrain<input type="radio" name="other other options" value="updrain"></label>
			<label>Circle dot<input type="radio" name="other other options" value="circle dot"></label>

		</div>

		<!-- Manual time -->
		<div>
			<label>Manual time: </label>
			<select name='washtype' required>
				<option value="1">0:30</option><option value="2">1:00</option><option value="3">1:30</option><option value="4">2:00</option><option value="5">2:30</option><option value="6">3:00</option><option value="7">3:30</option><option value="8">4:00</option>
			</select>
		</div>

		<input type="submit">
	</form>

</body>
</html>
